.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.box {
    height: 100%;
    width: 100%;
}

ion-slides {
    height: 100%;
    margin: 0 0 0 0;
}